.view .mask {
  background: -webkit-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.6),
    rgba(50, 189, 229, 0.6) 100%
  ) !important;
}

.intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")
    no-repeat center center;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #303ce0 !important;
}
.mdb-color.lighten-3 {
  background-color: red !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #303ce0 !important;
  }
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
