.btn .fa {
  margin-left: 3px;
}

h6 {
  line-height: 1.7;
}

footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
}

.btn.peach-gradient {
  color: #fff !important;
}

.map-container-section {
  overflow: hidden;
  /* padding-bottom:56.25%; */
  position: relative;
  height: 0;
}
.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
